<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpencartAutomation">
    <test name="OpencartApplication Test">
        <classes>
            <class name="comOpenCart.TC1VerifyTheOpenCartLoggin" />
            <class name="comOpenCart.TC2VerifytheProductAdding"/>

        </classes>
    </test>
</suite>